<h1 class="text-center p-2">Pipes <small class="text-muted"> Angular</small></h1>
<hr>

<div class="row px-1 ">
  <div class="col">
    <div class="table-responsive container ">
      <table class="table table-bordered border-success">
        <thead class="table-dark">
          <tr>
            <th scope="col">Variable</th>
            <th scope="col">Pipe</th>
            <th scope="col">Salida</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{nombre2}}</td>
            <td> Capitalizado</td>
            <td> {{nombre2 | capitalizado }}</td> <!-- true --> 
          </tr>
          <tr>
          <tr>
            <td>{{nombre}}</td>
            <td> Uppercase</td>
            <td> {{nombre | uppercase}}</td>
          </tr>
          <tr>
            <td>{{nombre}}</td>
            <td> Low-Cased</td>
            <td> {{nombre | lowercase}}</td>
          </tr>
          <tr>
            <td>{{nombre}}</td>
            <td> Slice:3</td>
            <td> {{nombre | slice:3}}</td>
          </tr>
          <tr>
            <td>{{nombre}}</td>
            <td> Slice:0:3</td>
            <td> {{nombre | slice:0:3}}</td>
          </tr>
          <tr>
            <td>{{arreglo}}</td>
            <td> Slice:1:5</td>
            <td> {{arreglo | slice:1:5}}</td>
          </tr>
          <tr>
            <td>{{PI}}</td>
            <td> number:'3.0-0'</td>
            <td> {{PI | number:'3.0-0'}}</td>
          </tr>
          <tr>
            <td>{{PI}}</td>
            <td> number:'.0-2'</td>
            <td> {{PI | number:'.0-2'}}</td>
          </tr>
          <tr>
            <td>{{porcentaje}}</td>
            <td> percent</td>
            <td> {{porcentaje | percent}}</td>
          </tr>
          <tr>
            <td>{{porcentaje}}</td>
            <td> percent:'2.2-2'</td>
            <td> {{porcentaje | percent:'2.2-2'}}</td>
          </tr>
          <tr>
            <td>{{salario}}</td>
            <td> currency</td>
            <td> {{salario | currency}}</td>
          </tr>
          <tr>
            <td>{{salario}}</td>
            <td> currency:'EUR'</td>
            <td> {{salario | currency:'EUR'}}</td>
          </tr>
          <tr>
            <td>{{salario}}</td>
            <td> currency:'CAD':'symbol-narrow':'.0-0'</td>
            <td> {{salario | currency:'CAD':'symbol-narrow':'.0-0'}}</td>
          </tr>
          <tr>
            <td>{{ valorPromesa}}</td>
            <td>async</td>
            <td> {{valorPromesa |async}}</td>
          </tr>
          <tr>
            <td>{{ fecha }}</td>
            <td>Date</td>
            <td> {{fecha | date}}</td>
          </tr>
          <tr>
            <td>{{ fecha }}</td>
            <td>date:'medium'</td>
            <td> {{fecha | date:'medium'}}</td>
          </tr>
          <tr>
            <td>{{ fecha }}</td>
            <td>date:'short'</td>
            <td> {{fecha | date:'short'}}</td>
          </tr>
          <tr>
            <td>{{ fecha }}</td>
            <td>date:'MMMM- dd'</td>
            <td> {{fecha | date:'MMMM- dd'}}</td>
          </tr>
          <tr>
            <td>{{ fecha }}</td>
            <td>date:'MMMM- dd':'':'{{idioma}}'
              <hr>
              <button class="btn btn-primary m-1" (click)="idioma='es'">Español</button>
              <button class="btn btn-danger m-1"  (click)="idioma='fr'">Frances</button>
              <button class="btn btn-success m-1" (click)="idioma='en'">Ingles</button>
            </td>
            <td> {{fecha | date:'MMMM- dd':'':idioma}}</td>
          </tr>
          <tr>
            <td>{{ nombre }}</td>
            <td>contraseña:{{activar}}
              <hr>
              <button class="btn btn-outline-primary white-text" (click)="activar=!activar" >
                <i *ngIf="activar==true" class="bi bi-eye"></i>
                <i *ngIf="activar==false"class="bi bi-eye-slash"></i>
              </button>
            </td>
            <!-- mi solucion 1 -->
            <!-- <td *ngIf="activar==true"> {{nombre}}</td>
            <td *ngIf="activar==false"> {{ nombre | contrasena  }}</td> -->
            <td> {{nombre | contrasena:activar }}</td>
        </tbody>
      </table>

    </div>

    <h3> Slice <small class="text-muted"> slice:1:4</small></h3>
    <hr>
    <ul class="list-group">
      <li *ngFor="let item of arreglo | slice:1:4"
      class="list-group-item" >{{item}}</li>
    </ul>

    <h3>JSON</h3>
    <hr>
    <div class="row pb-3">
      <div class="col">
       <pre>
        {{heroe | json}}
       </pre>
      </div>
    </div>



  </div>
</div>

<h3 class=" pt-3">Domseguro</h3>
<hr>

<div class=" container d-flex align-items-center" >
    <iframe class=" container col-12 col-md-10" height="400"
    [src]="videoURL | domseguro " title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
</div>